#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

.search-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.movies-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}
